# dependencies
node_modules
.pnpm-store

# next.js
.next/
out/

# build
dist/

# env
.env
.env.local
.env.*.local

# turbo
.turbo

# misc
.DS_Store
*.pem
*.tsbuildinfo

# docker (machine-local overrides)
docker-compose.override.yml

# drizzle
drizzle/meta

# vercel
.vercel
